.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.places h1 {
    text-align: left;
    font-size: 30px;
    vertical-align: top;
    flex-basis: 100%;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
}

.places article {
    width: 390;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
}

.places .price_by_night {
    color: #FF5A5F;
    border: #FF5A5F 4px solid;
    border-radius: 50%;
    min-width: 60px;
    font-size: 30px;
    display:flex;
    justify-content: center;
    flex-direction: column; 
    text-align: center;
}